.searchResults {
    margin-bottom: 2rem;
    background-color: rgba(33, 7, 66,90%);
}
.searchResults > button {
    font-size: 1rem;
    background-color: lightgreen;
    border-radius: 10px;
    color: gray;
    padding: 0.5rem
}
.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
}

.smallHead {
    color: pink;
    font-size: 2rem;
}
.resultsBtn {
    margin-left: 44%;
}