.trackCard {
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 20rem;
  align-items: center;
  color: white;
  margin-right: 2rem;
}

.addBtn, .removeBtn {
  position: absolute;
  right: -2rem;
  border-radius: 10px;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  background-color: cyan;
  padding: 0.2rem 0.5rem;
}
