.App {
  background-color: lightblue;
  padding-bottom: 2rem;
  min-height: 100vh;
  background-image: url(../../../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
}
.header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  width: 100%;
  background-color: rgba(33, 7, 66, 90%);
}

h1 {
  font-size: 4rem;
  color: pink;
  padding-top: 0;
  margin-top: 0;
}
h2 {
  color: pink;
  font-size: 2rem;
}
button {
  border-radius: 10px;
  padding: 0.2rem 0.3rem;
  color: gray;
}
.login {
  position: absolute;
  right: 10rem;
  margin-left: 36%;
  font-size: 1rem;
}
