
.searchField {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    font-size: 2rem;
}

.searchBtn {
    border-radius: 15px;
    color: gray;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
}